.App {
  text-align: center;
}

.container{
  width: 770px;
  margin: 0 auto;
}
.header{
  display: flex;
  justify-content: space-between;
  padding: 26.5px 0;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.header img{
  width: 154px;
}

.menu-list{
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 25px ;
}

.menu-list a{
  text-decoration: none;
  color: #393939;
  font-size: 24px;
  line-height: 29px;
  padding-bottom: 5px;
}

.menu-list a:hover{
  color: black;
  border-bottom: 2px solid #000;
}